p {
  margin: 0;
  margin-bottom: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding-top: 115px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: white;
}