.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  
}

.left-section {
  display: flex;
  align-items: center;
  }
  .hamburger-menu {
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .youtube-logo {
    height: 80px;
    }


.middle-section {
  flex: 1;
  margin-left: 130px;
  margin-right: 130px;
  max-width: 800px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
}
.search-button {
height: 40px;
width: 66px;
background-color: rgb(245, 245, 245);
border-width: 1px;
border-style: solid;
border-color: rgb(192, 192, 192);
margin-left: -1px;
margin-right: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip {
position: absolute;
background-color: gray;
color: white;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
border-radius: 2px;
font-size: 12px;
bottom: -30px;
opacity: 0;
transition: opacity 0.15s;
pointer-events: none;
white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, 
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.voice-search-button {
height: 40px;
width: 40px;
border: none;
border-radius: 20px;
background-color: rgb(245, 245, 245);
}
.search-icon {
  height: 20px;
}
.voice-search-icon {
  height: 20px;
}


.right-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}
.video-camera-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
position: relative;
}
.notifications-count {
position: absolute;
top: -2px;
right: -5px;
background-color: rgb(206, 0, 0);
color: white;
font-size: 11px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 10px;
}
.current-user-picture {
  height: 31px;
  border-radius: 16px;
  cursor: pointer;
}
