.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 75px;
  z-index: 101;
  padding-top: 5px;

}
.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 4px;
}
.sidebar-link div {
font-size: 10px;
}

