.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-info-grid:hover {
  background-color: rgb(224, 224, 224);
  transition: 0.15s;
  border-radius: 2px;
}
.profile-picture {
  width: 34px;
  border-radius: 50px;
}
.thumbnail{
width: 100%; 
border-radius: 15px;
}
.video-title {
margin-top: 0;
font-size: 14px;
font-weight: bold;
line-height: 20px;
margin-bottom: 10px;
}
.video-author,
.video-stats {
font-size: 12px;
color: rgb(96, 96, 96);
}
.video-author {
margin-bottom: 4px;
}
.video-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
}
@media (max-width: 850px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 851px) and (max-width: 1239px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1240px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 8px;
  right: 5px;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}

